@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body
{
    font-family: 'Comfortaa', cursive;
}

.container
{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hex-colors
{
    text-align: center;
}

.hex-colors h1
{
    margin-top: 15px;
    font-size: 50px;
    text-transform: uppercase;
    animation: ColorChange1 5s infinite alternate;
}

.hex-colors h2
{
    font-size: 30px;
    margin-top: 15%;
    animation: ColorChange2 10s infinite alternate;
}

@keyframes ColorChange1
{
    0%
    {
        color: black;
    }
    20%
    {
        color: indigo;
    }
    40%
    {
        color: green;
    }
    60%
    {
        color: darkgreen;
    }
    80%
    {
        color: darkgray;
    }
    100%
    {
        color: maroon;
    }
}

@keyframes ColorChange2
{
    0%
    {
        color: black;
    }
    50%
    {
        color: white;
    }
    100%
    {
        color: black;
    }
}



















